body {
  background: white;
  color: #555;
}
  
#itgnewswrapper {
  padding:5px;
  border-radius: 5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
}

#itgnewsnav {
  margin-top: -25px;
  line-height: 20px;
  float: right;
  font-size: 18px;
}

#itgnewsnav a {
  padding: 0 5px;
}

#itgnews a {
  text-decoration: none;
  color: #069;
  font-weight: bold;
}

#itgnews a:hover {
  color: #69c;
}

#itgnews {
  width:100%;
  max-width:544px;
  overflow: hidden;
}

#itgnews h2 {
  border-bottom: 1px solid white;
  margin: 0;
  text-align: left;
}

#itgnews hr {
  background: #555;
  color: #555;
  height:1px;
  margin:0;
  padding:0;
  border:0;
}

#itgnews h2 a {
  color: #4d4d4d !important;
  text-decoration: none;
}

.shadowed {
  box-shadow: 0 0 5px black;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px;
  border-radius: 5px !important;
}

#itgnewsthrobber {
  display: block;
  margin: auto;
}

#itgnews h3 {
  margin: 0;
  padding: 5px;
  color: #069;
  cursor: hand; /* IE */
  cursor: pointer;
  padding-left: 25px;
  text-indent: -25px;
}

#itgnews h3 .pubDate {
  font-size: 10px;
  color: #999;
  font-weight: normal;
  line-height: 18px;
  white-space: pre;
}

.itgnewsdescription {
  padding: 5px;
}

/* Use itgnews * to fix IE alpha filters */
#itgnews, #itgnews * {
  background: white;
}
