.shadowed {
  border:1px solid #888;
  background: #ffffff;
  filter: 
    progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=0,strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=90,strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=180,strength=3)
    progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=270,strength=3);
}

